@import "tailwindcss" prefix(tw);
@import "./typo.css";
@import "./spacings.css";
@import "./layout.css";
@import "./fonts/index.css";
@import "./components/index.css";

* {
  line-height: 100%;
  font-family: Breuer, sans-serif;
}

@layer base {

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --color-primary: green;
  --color-secondary: green;
  --color-black: black;
  --color-white: white;
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}